@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Oleo+Script&family=Space+Grotesk:wght@400;500;700&display=swap');
body{
    background: #FAFAFA;
    margin: 0;
}
.container-landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-header{
    box-sizing: border-box;
    width: 100vw;
    height: 8rem;
    padding: 0rem 4rem;
    border-bottom: 1px solid #C4C4C4;
}
.header__wrapper{
    margin: 0px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 150px;
    width: 75rem;
}
.header__logo{
}
.logo__title{
    font-family: 'Oleo Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    
}
.header__features{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.feature__btn{
    width: 70%;
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    
}
.feature__btn--home-btn{
    font-weight: 700;
    color: #0F298B;
}
.header__get-started-btn{
    
}
.get-started-btn{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #FFFFFF;
    padding: 10px 0px 10px 10px;
    margin-right: 5rem;
    
    width: 10rem;
    height: 3.5rem;
    
    background: #2549D3;
    border-radius: 10px;

    outline: none;
    border: none;
}
.container-body{
    width: 75rem;
}
.container-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 0rem;
}
.container-intro__content{
    width: 50%;
}
.content__title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 82px;
    color: #0F298B;
    margin: 0;
}
.content__desc{
    width: 100%;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    margin: 0;
    color: rgba(0, 0, 0, 0.81);
}
.learn-more-btns{
    display: flex;
    align-items: center;
    margin: 2rem 0rem;
}
.learn-more-btn{
    padding: 10px 0px 10px 10px;
    gap: 10px;
    width: 11rem;
    height: 67px;
    background: #2549D3;
    box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    border: none;
    outline: none;
    color: #FFFFFF;
}
.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 4rem;
    background: #0F298B;
}
.container-intro__img{
    position: relative;
    height: 100%;
    width: 50%;
}
.circle-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    background: #2549D3;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25);
}
.intro-img{
    background-image: url(./assets/unsplash.jpg);
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}

.container-search-price{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6.25rem;
    height: 10rem;
    margin: 10rem;
    background-color: white;
    box-shadow: 24px 24px 48px rgba(37, 73, 211, 0.1);
    border-radius: 1.75rem;
}
.dropdown{
    height: 5rem;
}
.dropdown-title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    
    color: #0F298B;
}
.dropdown-content{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    color: #000000;
    opacity: 0.5;
}
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0px 0.75rem 0.75rem;
    gap: 0.75rem;
    border: none;
    outline: none;
    width: 10rem;
    height: 4rem;
    background: #2549D3;
    box-shadow: 1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
}
.container-how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.how-it-works__title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    margin: 0px;
    color: #0F298B;
}
.how-it-works__content{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    margin: 0px;
    color: rgba(0, 0, 0, 0.81);
}
.how-it-works__features{
    margin: 5rem 0rem;
    display: grid; 
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
}
.how-it-works__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5rem;
}
.how-it-works__feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    background: #FFFFFF;
    box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.05);
}
.feature-title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin-top: 1rem;
    color: #000000;
}
.feature-content{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    opacity: 0.8;   
}
.container-attention{
    margin: 8rem 0rem;
    /* background-color: #2549D3; */
    display: flex;
    justify-content: space-between;
}
.attention__img{
    width: 50%;
}
.attention__img img{
    width: 100%;
}
.attention__details{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
}
.details__container{
    width: 85%;
}
.details__title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.8rem;
    color: #0F298B;
}
.details__content{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.81);
}
.specility__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
}
.speciality{
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000;
}
.checkedbox-img{
    margin-right: 1rem;
}
.container-properties{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0rem;
}
.properties-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    margin-bottom: 2.5rem;
}
.properties-title{
    margin: 0px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #0F298B;
}
.properties-content{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.75rem;
    text-align: center;
    margin: 0rem;
    color: rgba(0, 0, 0, 0.81);
}
.properties-products{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.viewmore-products-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 3.5rem;
    background: #2549D3;
    border-radius: 1rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 25px;
    outline: none;
    border: none;
    color: #FFFFFF;
}
.container-products{
    display: flex;
    margin: 5.5rem 0rem;
    display: flex;
    justify-content: space-between;    
}
.container-product{
    padding: 0rem 2.5rem 2.5rem 2.5rem;
    background-color: #FFFFFF;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.container-product__inner{
    margin: 0.5rem 0rem;
}
.product-img{}
.container-product-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.container-product-content{}
.product-title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0rem;
    color: #000000;
}
.product-desc{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0663px;
    line-height: 24px;
    margin: 0rem;
    color: #000000;
    opacity: 0.8;
}
.container-product-price{

}
.product-type{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0.5rem 0rem;
    color: #000000;
}
.product-price{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0rem;
    color: #0F298B;

}
.container-testimonial-header{

}
.client-name{
    margin: 0rem;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #000000;
}
.client-location{
    margin: 0rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
}
.container-testmonial-content{}
.client-content{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #000000;
    opacity: 0.7;
    margin: 0rem;
    margin-top: 1rem;
}
.container-testimonial{
    padding: 1.5rem;
    background:#FFFFFF;
    border-radius: 1rem;
    
}
.container-products.testimonials{
    gap: 2rem;
}
.container-footer{
    position: relative;
    width: 100%;
    
}
.container-footer-inner{
    position: absolute;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    height: 37rem;
    background: #0F298B;
}

.container-slogan{
    width: 20rem;
}
.logo__title--footer{
    color: white;
    margin: 0rem;
}
.company-slogan{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin: 0rem;
}
.container-details{
    
}
.details-title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    

    color: #FFFFFF;
}
.details-content{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    
    color: #FFFFFF;

    opacity: 0.8;
}